In [49]:
import pandas as pd

df_2009_2010 = pd.read_excel('../src/original_data.xlsx', sheet_name='Year 2009-2010')
df_2009_2010.to_csv('../src/2009_original_data.csv', index=False)

df_2010_2011 = pd.read_excel('../src/original_data.xlsx', sheet_name='Year 2010-2011')
df_2010_2011.to_csv('../src/2010_original_data.csv', index=False)

df_2009_2010 = pd.read_csv('../src/2009_original_data.csv')
df_2010_2011 = pd.read_csv('../src/2010_original_data.csv')

In [50]:
df_2009_2010.isnull().sum()

Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64

In [51]:
df_2010_2011.isnull().sum()

Invoice             0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
Price               0
Customer ID    135080
Country             0
dtype: int64

In [52]:
df_2009_2010 = df_2009_2010.dropna()

In [53]:
df_2010_2011 = df_2010_2011.dropna()

In [54]:
invoice_list_2009 = df_2009_2010.groupby('Invoice').agg({
    'InvoiceDate': 'first',
    'Customer ID': 'first',
    'StockCode': list,
    'Quantity': sum,
    'Price': sum,
    'Country': 'first'
}).reset_index()

In [58]:
invoice_list_2009.head()

,Invoice,InvoiceDate,Customer ID,StockCode,Quantity,Price,Country
0,489434,2009-12-01 07:45:00,13085.0,"[85048, 79323P, 79323W, 22041, 21232, 22064, 2...",166,32.65,United Kingdom
1,489435,2009-12-01 07:46:00,13085.0,"[22350, 22349, 22195, 22353]",60,10.50,United Kingdom
2,489436,2009-12-01 09:06:00,13078.0,"[48173C, 21755, 21754, 84879, 22119, 22142, 22...",193,70.88,United Kingdom
3,489437,2009-12-01 09:08:00,15362.0,"[22143, 22145, 22130, 21364, 21360, 21351, 213...",145,83.45,United Kingdom
4,489438,2009-12-01 09:24:00,18102.0,"[21329, 21252, 21100, 21033, 20711, 21410, 214...",826,44.05,United Kingdom

In [56]:
# Dataframe with stock code 
df_stock_code_2009 = pd.DataFrame(df_2009_2010['StockCode'].unique(), columns=['StockCode'])

In [57]:
df_stock_code_2009.value_counts()

StockCode
10002        1
78027        1
72819        1
72821        1
75011        1
            ..
22132        1
22133        1
22134        1
22135        1
TEST002      1
Length: 4031, dtype: int64